<p id="notice"><%= notice %></p>

<p>
  <strong>Apologize image:</strong>
  <%= image_tag(@apologize.apologize_image,size: "100x100") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @apologize.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @apologize.author.try(:name) %>
</p>

<%= link_to 'Edit', edit_admin_apologize_path(@apologize) %> |
<%= link_to 'Back', admin_apologizes_path %>
