<!DOCTYPE html>
<html>
<head>
  <title>GeradorDeDesculpasApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <% unless current_page?(home_index_path)  %>
      <ul class="nav nav-pills">
        <li role="presentation"><%= link_to "Desculpas" , admin_apologizes_path %></li>
        <li role="presentation"><%= link_to "Autores" , admin_authors_path %></li>
      </ul>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
